

.footer_outer_container {
    background-color: #111;
    color: gray;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.footer_inner_container{
    width: 60%;
}



.footer_icons{
    margin-bottom: 20px;
}

.footer_icons ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    color: #fff;
}



.footer_data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer_data ul{
    list-style: none;
    padding: 0;
}

.footer_data ul li{
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
}



.service_code{
    border: 1px solid gray;
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 15px;
    cursor: pointer;
}


.copy_write{
    font-size: 12px;
    color: gray;
}